.top-text{
  display: flex;
  justify-content: center;
  align-items: center;
}

.slides {
  padding: 0;
  width: 609px;
  height: 420px;
  display: block;
  margin: auto;
  position: relative;
  transition: box-shadow 0.5s;
  border-radius: 20px;
  user-select: none;
}

.slides input {
  display: none;
}

.slide-container {
  display: block;
}

.slide {
  opacity: 0;
  width: 609px;
  height: 420px;
  display: block;
  position: absolute;
  transform: scale(0);
  transition: all 1.7s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.nav label {
  width: 100px;
  height: 100%;
  display: none;
  position: absolute;
  opacity: 0.3;
  z-index: 9;
  cursor: pointer;
  transition: opacity 0.2s;
  font-size: 70px;
  font-weight: normal;
  text-align: center;
  line-height: 410px;
  font-family: "Varela Round", sans-serif;
}

.slide:hover .nav label {
  opacity: 0.5;
}

.nav .next {
  right: 0;
}

input:checked + .slide-container .slide {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label {
  display: block;
}

.nav-dots {
  width: 100%;
  bottom: 9px;
  height: 11px;
  display: block;
  position: relative;
  text-align: center;
}

.nav-dots .nav-dot {
  top: 5px;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: #ffffff;
  cursor: pointer;
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
  background: blueviolet;
}
